
.header-font{
  font-family: 'Roboto Flex', sans-serif;
  font-size: 228px;
  font-weight: bold;
  color: #FFE600;
  line-height: 1;
}
#changing-word {
  text-decoration: underline;
  text-decoration-color: #FFE600;
}

.subheaderv1-font{
  font-family: 'Roboto Flex', sans-serif;
  font-size: 64px;
  font-weight: normal;
  color: #B3B3B3;
  line-height: 1;
  text-justify: left;
  text-align: left  ;

}


.subheaderv2-font{
  font-family: 'Roboto Flex', sans-serif;
  font-size: 64px;
  font-weight: bold;
  color: white;
  text-justify: left;
  line-height: 1;
  text-align: left  ;

}

.tagline-font{
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  color: white;
  font-weight: normal;
  justify-content: left;
  text-align: left;
}

/* medium screens */
@media (max-width: 1600px) and (min-width: 1024px) {
  /* Small screen font size adjustment */
  .title-font{
    font-size: 180px;
  }

  .subheaderv1-font{
    font-size: 64px;
  }

  .subheaderv2-font{
    font-size: 64px;
  }

  .description-font{
    font-size: 20px;
  }

  .bottom-font {
    font-size: 50px;
  
  }

}

@media (max-width: 1024px) and (min-width: 640px) {

    /* Small screen font size adjustment */
  
    .subtitle-font{
      font-size: 20px;
    }
  
    .header-font{
      font-size: 80px;
    }
    .subheader-font{
      font-size: 32px;
    }
    .subheaderv1-font{
      font-size: 32px;
    }

    .subheaderv2-font{
      font-size: 32px;
    }
    
  }

/* Small screens */
@media (max-width: 640px) {
  /* Small screen font size adjustment */

  .subtitle-font{
    font-size: 20px;
  }
  .header-font{
    font-size: 80px;
  }
  .subheader-font{
    font-size: 32px;
  }
  .subheaderv1-font{
    font-size: 32px;
  }

  .subheaderv2-font{
    font-size: 32px;
  }
  .tagline-font{
    font-size: 16px;
  }
  
}
