.privacy-title {
    position: relative;
    font-family: 'Averia Serif Libre', serif;
    font-size: 48px;
    font-weight: 700;
    text-align: left;
    color: #FFFFFF;
    margin: 0px;
}


.security-main-content {

    width: 64%;
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.privacy-content {
    position: relative;
    font-family: 'Figtree', sans-serif;
    font-size: 22px;
    font-weight: 500;
    text-align: justify;
    color: #FFFFFF;
}

.highlight {
    color: #9370DB;
    font-style: italic;

}

.privacy-cta {
    margin: 0px;
    margin-top: -54px;
    margin-left: -30px;
}

.security-image-container {
    position: relative;
    width: 450px;
    height: 450px;
    margin-left: 80px;
    margin-right: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    /* Ensures nothing spills outside the container */
}

.security-lower {
    width: 450px;
    height: 450px;
    z-index: 2;
}

.security-upper {
    width: 350px;
    height: 350px;
    z-index: 2;
}



.eye {
    width: 321.26px;
    /* Final size as needed */
    height: 236px;
    z-index: 2;
    /* Adjust time as needed */
    animation: moveDownUp 5s ease-in-out infinite;
    /* Add opposite animation */
}

@keyframes moveDownUp {

    0%,
    100% {
        transform: translateY(0);
        /* Original position */
    }

    50% {
        transform: translateY(15px);
        /* Move 10px down */
    }

    25%,
    75% {
        transform: translateY(-15px);
        /* Move 10px up */
    }
}


.button-container {
    width: 327px;
    height: 65px;
    background-color: #ffffff;
    border-radius: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-top: 10px;
    z-index: 1000;
}

.button-container span {
    font-family: 'Figtree', sans-serif;
    font-size: 18px;
    font-weight: 600;
    color: #000000;
    align-items: left;
    margin-left: -40px;
}

.circle {
    width: 50px;
    height: 50px;
    background-color: #DE7F7F;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 8px;
    left: 268px;
}

.circle img {
    width: 23px;
    height: auto;
    transform: rotate(0deg);
    border: 3px solid #FFFFFF;
}



@media (max-width: 1200px) {
    .security-main-content {
        width: 90%;
    }

    .privacy-title {
        font-size: 40px;
    }

    .privacy-content {
        font-size: 20px;
    }


}

@media (max-width: 768px) {

    main {
        flex-direction: column;
        align-items: center;
    }

    .security-image-container {
        order: -1;
        /* Move the image container to the top on mobile */
        width: 60vw;
        /* Full width on mobile */
        height: 60vw;
        /* Allow height to adjust automatically */
        position: center;
        align-items: top;
        justify-content: center;
        margin: 0px;
        margin-top: -60px;
        /* Add some space between image and content */
    }


    .eye {
        width: 40vw;
        /* Adjust size using viewport width */
        height: auto;
        animation: moveDownUp 10s ease-in-out infinite;
    }

    .privacy-title {
        font-size: 36px;
    }

    .privacy-content {
        font-size: 18px;
    }

    .privacy-cta {
        margin: 0px 0;
        width: 100%;

    }

    .style-button {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        text-decoration: none;
    }

    .button-container {
        width: 80vw;
        height: 40px;
        margin-top: 10px;
        margin-bottom: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .button-container span {
        font-size: 16px;
        font-weight: 600;
    }

    .circle {
        width: 30px;
        height: 30px;
        top: 4.5px;
    }

    .socials-mobile {
        display: flex;
        justify-content: left;
        gap: 42px;
    }

    .socials-mobile img {
        vertical-align: middle;
    }
}

@media (max-width: 480px) {
    .privacy-title {
        font-size: 32px;
    }

    .privacy-content {
        font-size: 16px;
    }

    .privacy-cta {
        margin: 5px 0;
    }
}